interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gaia.ari.uni-heidelberg.de/cone/gaiadr2?RA=185.43&DEC=-31.99&SR=0.01&VERB=2&MAXREC=20
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<VOTABLE version=\"1.4\"
        xmlns=\"http://www.ivoa.net/xml/VOTable/v1.3\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://www.ivoa.net/xml/VOTable/v1.3 http://www.ivoa.net/xml/VOTable/v1.3\">\n\t<RESOURCE
        type=\"results\">\n\t\t<INFO ID=\"Provider\" name=\"Provider\" value=\"ARI's
        simple Cone Search service for Gaia data.\">Service that has provided this
        table.</INFO>\n\t\t<INFO ID=\"Query\" name=\"Query\" value=\"RA=185.43&amp;DEC=-31.99&amp;SR=0.01&amp;VERB=2&amp;MAXREC=20
        =&gt; {RA: 185.43 deg, DEC: -31.99 deg, RADIUS: 0.01 deg, VERB: 2}\">Exact
        parameters submitted to the Cone Search service, followed by the same parameters
        as understood by the service.</INFO>\n\t\t<COOSYS ID=\"GDR2_ICRS\" system=\"ICRS\"
        epoch=\"2015.5\" />\n\t\t<COOSYS ID=\"GDR2_GALACTIC\" system=\"galactic\"
        epoch=\"2015.5\" />\n\t\t<COOSYS ID=\"GDR2_ECLIPTIC\" system=\"eq_FK5\" equinox=\"J2015\"
        epoch=\"2015.5\" />\n\t\t<TIMESYS ID=\"J2015.5\" timeorigin=\"2455197.5\"
        timescale=\"TCB\" refposition=\"barycenter\" />\n\t\t<TABLE name=\"Cone_gaiadr2.gaia_source_[185.43,-31.99]_0.01\">\n\t\t\t<FIELD
        name=\"source_id\" datatype=\"char\" arraysize=\"*\" ucd=\"ID_MAIN\" ID=\"source_id\">\n\t\t\t\t<DESCRIPTION>Unique
        source identifier (unique within a particular Data Release)</DESCRIPTION>\n\t\t\t</FIELD>\n\t\t\t<FIELD
        name=\"designation\" datatype=\"char\" arraysize=\"*\" ucd=\"meta.id\" ID=\"designation\">\n\t\t\t\t<DESCRIPTION>Unique
        source designation (unique across all Data Releases)</DESCRIPTION>\n\t\t\t</FIELD>\n\t\t\t<FIELD
        name=\"ra\" datatype=\"double\" unit=\"deg\" ucd=\"POS_EQ_RA_MAIN\" ref=\"GDR2_ICRS\"
        ID=\"ra\">\n\t\t\t\t<DESCRIPTION>Right ascensi[...]
