interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ws.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/sia/capabilities
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<vosi:capabilities xmlns:vosi=\"http://www.ivoa.net/xml/VOSICapabilities/v1.0\"
        xmlns:vr=\"http://www.ivoa.net/xml/VOResource/v1.0\" xmlns:vs=\"http://www.ivoa.net/xml/VODataService/v1.1\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <capability
        standardID=\"ivo://ivoa.net/std/VOSI#capabilities\">\r\n    <interface xsi:type=\"vs:ParamHTTP\">\r\n
        \     <accessURL use=\"full\">https://ws.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/sia/capabilities</accessURL>\r\n
        \   </interface>\r\n  </capability>\r\n  <capability standardID=\"ivo://ivoa.net/std/VOSI#availability\">\r\n
        \   <interface xsi:type=\"vs:ParamHTTP\">\r\n      <accessURL use=\"full\">https://ws.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/sia/availability</accessURL>\r\n
        \   </interface>\r\n  </capability>\r\n  <capability standardID=\"vos://cadc.nrc.ca~vospace/CADC/std/LOGGING#logControl-1.0\">\r\n
        \   <interface xsi:type=\"vs:ParamHTTP\" role=\"std\" version=\"1.0\">\r\n
        \     <accessURL use=\"full\">https://ws.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/sia/logControl</accessURL>\r\n
        \     <securityMethod standardID=\"ivo://ivoa.net/sso#cookie\" />\r\n      <securityMethod
        standardID=\"ivo://ivoa.net/sso#tls-with-certificate\" />\r\n      <securityMethod
        standardID=\"ivo://ivoa.net/sso#token\" />\r\n    </interface>\r\n  </capability>\r\n
        \ <capability standardID=\"ivo://ivoa.net/std/SIA\">\r\n    <interface xsi:type=\"vs:ParamHTTP\"
        role=\"std\" version=\"1.0\">\r\n      <accessURL use=\"base\">https://ws.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/sia/query</accessURL>\r\n
        \     <securityMethod />\r\n      <securityMethod standardID=\"ivo://ivoa.net/sso#cookie\"
        />\r\n      <securityMethod standardID=\"ivo://ivoa.net/sso#tls-with-certificate\"
        />\r\n      <securityMethod standardID=\"ivo://ivoa.net/sso#token\" />\r\n
        \   </interface>\r\n  </capability>\r\n  <capability standardID=\"ivo://ivoa.net/std/SIA#query-2.0\">\r\n
        \   <interface xsi:type=\"vs:ParamHTTP\" role=\"std\" version=\"2.0\">\r\n
        \     <accessURL use=\"base\">https://ws.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/sia/v2query</accessURL>\r\n
        \     <securityMethod />\r\n      <securityMethod standardID=\"ivo://ivoa.net/sso#cookie\"
        />\r\n      <securityMethod standardID=\"ivo://ivoa.net/sso#tls-with-certificate\"
        />\r\n      <securityMethod standardID=\"ivo://ivoa.net/sso#token\" />\r\n
        \   </interface>\r\n  </capability>\r\n</vosi:capabilities>\r\n"
    headers:
      content-type:
      - text/xml
      www-authenticate:
      - ivoa_cookie
      - ivoa_x509 standard_id="ivo://ivoa.net/sso#cookie", access_url="https://ws.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/cred/generate"
      - ivoa_x509 standard_id="ivo://ivoa.net/sso#BasicAA", access_url="https://ws.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/cred/generate"
      - ivoa_x509 standard_id="ivo://ivoa.net/sso#token", access_url="https://ws.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/cred/generate"
      - ivoa_x509
      - ivoa_bearer standard_id="ivo://ivoa.net/sso#tls-with-password", access_url="https://ws-cadc.canfar.net/ac/login",
        HACK=temporary
      - Bearer
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://ws.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/sia/v2query?POS=CIRCLE+185.43+-31.99+0.2
  response:
    body:
      string: ''
    headers:
      location:
      - https://ws.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/argus/sync/gbe52uxwe2ntwx2i/run
      www-authenticate:
      - ivoa_cookie
      - ivoa_x509 standard_id="ivo://ivoa.net/sso#cookie", access_url="https://ws.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/cred/generate"
      - ivoa_x509 standard_id="ivo://ivoa.net/sso#BasicAA", access_url="https://ws.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/cred/generate"
      - ivoa_x509 standard_id="ivo://ivoa.net/sso#token", access_url="https://ws.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/cred/generate"
      - ivoa_x509
      - ivoa_bearer standard_id="ivo://ivoa.net/sso#tls-with-password", access_url="https://ws-cadc.canfar.net/ac/login",
        HACK=temporary
      - Bearer
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://ws.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/argus/sync/gbe52uxwe2ntwx2i/run
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<VOTABLE xmlns=\"http://www.ivoa.net/xml/VOTable/v1.3\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" version=\"1.4\">\r\n
        \ <RESOURCE type=\"results\">\r\n    <INFO name=\"QUERY_STATUS\" value=\"OK\"
        />\r\n    <INFO name=\"QUERY_TIMESTAMP\" value=\"2026-06-03T19:20:03.082\"
        />\r\n    <INFO name=\"QUERY\" value=\"SELECT * FROM ivoa.ObsCore WHERE dataproduct_type
        IN ( 'image', 'cube' ) AND (INTERSECTS(CIRCLE('ICRS',185.43,-31.99,0.2), s_region)
        = 1)\" />\r\n    <TABLE>\r\n      <FIELD name=\"obs_publisher_did\" datatype=\"char\"
        arraysize=\"256*\" ID=\"ivoaPublisherID\" ucd=\"meta.ref.ivoid\" utype=\"obscore:Curation.PublisherDID\"
        xtype=\"uri\">\r\n        <DESCRIPTION>publisher dataset identifier</DESCRIPTION>\r\n
        \     </FIELD>\r\n      <FIELD name=\"obs_collection\" datatype=\"char\" arraysize=\"128*\"
        ucd=\"meta.id\" utype=\"obscore:DataID.Collection\">\r\n        <DESCRIPTION>short
        name for the data colection</DESCRIPTION>\r\n      </FIELD>\r\n      <FIELD
        name=\"facility_name\" datatype=\"char\" arraysize=\"128*\" ucd=\"meta.id;instr.tel\"
        utype=\"obscore:Provenance.ObsConfig.Facility.name\">\r\n        <DESCRIPTIO[...]
