interactions:
- request:
    body: REQUEST=doQuery&LANG=ADQL&QUERY=SELECT%0Aivoid%2C+res_type%2C+short_name%2C+res_title%2C+content_level%2C+res_description%2C+reference_url%2C+creator_seq%2C+created%2C+updated%2C+rights%2C+content_type%2C+source_format%2C+source_value%2C+region_of_regard%2C+waveband%2C+%0A++ivo_string_agg%28COALESCE%28access_url%2C+%27%27%29%2C+%27%3A%3A%3Apy+VO+sep%3A%3A%3A%27%29+AS+access_urls%2C+%0A++ivo_string_agg%28COALESCE%28standard_id%2C+%27%27%29%2C+%27%3A%3A%3Apy+VO+sep%3A%3A%3A%27%29+AS+standard_ids%2C+%0A++ivo_string_agg%28COALESCE%28intf_type%2C+%27%27%29%2C+%27%3A%3A%3Apy+VO+sep%3A%3A%3A%27%29+AS+intf_types%2C+%0A++ivo_string_agg%28COALESCE%28intf_role%2C+%27%27%29%2C+%27%3A%3A%3Apy+VO+sep%3A%3A%3A%27%29+AS+intf_roles%2C+%0A++ivo_string_agg%28COALESCE%28cap_description%2C+%27%27%29%2C+%27%3A%3A%3Apy+VO+sep%3A%3A%3A%27%29+AS+cap_descriptions%0AFROM%0Arr.resource%0ANATURAL+LEFT+OUTER+JOIN+rr.capability%0ANATURAL+LEFT+OUTER+JOIN+rr.interface%0AWHERE%0A%28ivoid%3D%27ivo%3A%2F%2Feso.org%2Ftap_obs%27%29%0AGROUP+BY%0Aivoid%2C+res_type%2C+short_name%2C+res_title%2C+content_level%2C+res_description%2C+reference_url%2C+creator_seq%2C+created%2C+updated%2C+rights%2C+content_type%2C+source_format%2C+source_value%2C+region_of_regard%2C+waveband
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://reg.g-vo.org/tap/sync
  response:
    body:
      string: "<?xml version='1.0' encoding='utf-8'?>\n<VOTABLE version=\"1.5\" xmlns=\"http://www.ivoa.net/xml/VOTable/v1.3\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.ivoa.net/xml/VOTable/v1.3
        http://vo.ari.uni-heidelberg.de/docs/schemata/VOTable.xsd\"><RESOURCE type=\"results\"><INFO
        name=\"sql_query\" value=\"SELECT ivoid, res_type, short_name, res_title,
        content_level, res_description, reference_url, creator_seq, created, updated,
        rights, content_type, source_format, source_value, region_of_regard, waveband,
        string_agg(COALESCE ( access_url , '' ), ':::py VO sep:::') AS access_urls,
        string_agg(COALESCE ( standard_id , '' ), ':::py VO sep:::') AS standard_ids,
        string_agg(COALESCE ( intf_type , '' ), ':::py VO sep:::') AS intf_types,
        string_agg(COALESCE ( intf_role , '' ), ':::py VO sep:::') AS intf_roles,
        string_agg(COALESCE ( cap_description , '' ), ':::py VO sep:::') AS cap_descriptions
        FROM rr.resource NATURAL LEFT OUTER JOIN rr.capability  NATURAL LEFT OUTER
        JOIN rr.interface  WHERE ( ivoid = 'ivo://eso.org/tap_obs' ) GROUP BY ivoid
        , res_type , short_name , res_title , content_level , res_description , reference_url
        , creator_seq , created , updated , rights , content_type , source_format
        , source_value , region_of_regard , waveband LIMIT 20000\">ADQL query translated
        to local SQL (for debugging)</INFO><INFO name=\"query\" value=\"SELECT\nivoid,
        res_type, short_name, res_title, content_level, res_description, reference_url,
        creator_seq, created, updated, rights, content_type, source_format, source_value,
        region_of_regard, waveband, \n  ivo_string_agg(COALESCE(access_url, ''), ':::py
        VO sep:::') AS access_urls, \n  ivo_string_agg(COALESCE(standard_id, ''),
        ':::py VO sep:::') AS standard_ids, \n  ivo_string_agg(COALESCE(intf_type,
        ''), ':::py VO sep:::')[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://archive.eso.org/tap_obs/tables?detail=min
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><ns2:tableset
        xmlns:ns2=\"http://www.ivoa.net/xml/VOSITables/v1.0\"><schema><name>asm</name><description>The
        Astronomical Site Monitor (asm) schema contains the measurements of environmental
        conditions at the three sites La Silla, Paranal, and Chajnantor.</description><table
        type=\"view\"><name>asm.ambient_lasilla</name><description>Table containing
        historical La Silla ambient data measured by the old DIMM2 seeing monitor
        (1994-2023) and those measured by the Ring-Image Next Generation Scintillation
        Sensor (RINGSS) since 02 May 2025. Time coverage: January 1994 onwards. More
        info at: https://archive.eso.org/wdb/help/eso/ambient_lasilla.html#ambient</description><column><name>airmass</name><description>Airmass:
        Airmass at which the ASM-DIMM telescope measures the site seeing.</description><ucd>obs.airMass</ucd><dataType
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:ns4=\"http://www.ivoa.net/xml/VODataService/v1.1\"
        xsi:type=\"ns4:VOTableType\">float</dataType><flag>principal</flag></column><column><name>dec</name><description>Target
        declination FK5 J2000: The declination of the observed star at which the ASM-DIMM
        telescope measures the site seeing [deg].</description><unit>deg</unit><ucd>pos.eq.dec</ucd><dataType
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:ns4=\"http://www.ivoa.net/xml/VODataService/v1.1\"
        xsi:type=\"ns4:VOTableType\">double</dataType><flag>principal</flag></column><column><name>fwhm</name><description>DIMM-Seeing:
        Observatory site seeing as measured by the ASM-DIMM telescope, Full Width
        Half Maximum at 500nm [arcsec]</description><unit>arcsec</unit><ucd>instr.obsty.seeing;meta.main</ucd><dataType
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:ns4=\"http://www.ivoa.net/xml/VODataService/v1.1\"
        xsi:type=\"ns4:VOTableType\">float</dataType><flag>principal</flag></column><column><name>integration</name><description>Timebin
        [s] used for measurement of ambient data sample.</description><unit>s</unit><ucd>time.interval</ucd><dataType
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:ns4=\"http://www.ivoa.net/xml/VODataService/v1.1\"
        xsi:type=\"ns4:VOTableType\">short</dataType><flag>principal</flag></column><column><name>midpoint_date</name><description>Midpoint
        (time) of the measurement.</description><ucd>time</ucd><dataType xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:ns4=\"http://www.ivoa.net/xml/VODataService/v1.1\" xsi:type=\"ns4:VOTableType\"
        arraysize=\"*\" extendedType=\"timestamp\">char</dataType><flag>principal</flag></column><column><name>ra</name><description>Target
        right ascension FK5 J2000: The right ascension of the target star at which
        the ASM-DIMM telescope measures the site seeing [deg]</description><unit>deg</unit><ucd>pos.eq.ra</ucd><dataType
      [...]
