interactions:
- request:
    body: REQUEST=doQuery&LANG=ADQL&MAXREC=10&QUERY=SELECT+TOP+3+dp_id%2C+instrument_name+FROM+ivoa.ObsCore+WHERE+instrument_name+%3D+%27FORS2%27+ORDER+BY+dp_id
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://archive.eso.org/tap_obs/async
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
      Location:
      - https://archive.eso.org/tap_obs/async/28564bed-cfa0-429f-b62b-bb63ed069ab3
    status:
      code: 303
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://archive.eso.org/tap_obs/async/28564bed-cfa0-429f-b62b-bb63ed069ab3
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<job version=\"1.1\" xmlns=\"http://www.ivoa.net/xml/UWS/v1.0\"
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.ivoa.net/xml/UWS/v1.0
        http://www.ivoa.net/xml/UWS/v1.0 http://www.w3.org/1999/xlink http://www.w3.org/1999/xlink.xsd
        http://www.w3.org/2001/XMLSchema http://www.w3.org/2001/XMLSchema.xsd\">\n\t<jobId>28564bed-cfa0-429f-b62b-bb63ed069ab3</jobId>\n\t<ownerId>anonymous</ownerId>\n\t<phase>PENDING</phase>\n\t<quote
        xsi:nil=\"true\" />\n\t<creationTime>2026-06-08T15:33:19Z</creationTime>\n\t<startTime
        xsi:nil=\"true\" />\n\t<endTime xsi:nil=\"true\" />\n\t<executionDuration>60</executionDuration>\n\t<destruction>2026-06-09T15:33:19Z</destruction>\n\t<parameters>\n\t\t<parameter
        id=\"QUERY\">SELECT TOP 3 dp_id, instrument_name FROM ivoa.ObsCore WHERE instrument_name
        = 'FORS2' ORDER BY dp_id</parameter>\n\t\t<parameter id=\"RESPONSEFORMAT\">VOTABLE</parameter>\n\t\t<parameter
        id=\"LANG\">ADQL</parameter>\n\t\t<parameter id=\"MAXREC\">10</parameter>\n\t</parameters>\n\t<results>\n\t</results>\n</job>"
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    status:
      code: 200
      message: ''
[...]
- request:
    body: PHASE=RUN
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://archive.eso.org/tap_obs/async/28564bed-cfa0-429f-b62b-bb63ed069ab3/phase
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
      Location:
      - https://archive.eso.org/tap_obs/async/28564bed-cfa0-429f-b62b-bb63ed069ab3
    status:
      code: 303
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://archive.eso.org/tap_obs/async/28564bed-cfa0-429f-b62b-bb63ed069ab3
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<job version=\"1.1\" xmlns=\"http://www.ivoa.net/xml/UWS/v1.0\"
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.ivoa.net/xml/UWS/v1.0
        http://www.ivoa.net/xml/UWS/v1.0 http://www.w3.org/1999/xlink http://www.w3.org/1999/xlink.xsd
        http://www.w3.org/2001/XMLSchema http://www.w3.org/2001/XMLSchema.xsd\">\n\t<jobId>28564bed-cfa0-429f-b62b-bb63ed069ab3</jobId>\n\t<ownerId>anonymous</ownerId>\n\t<phase>COMPLETED</phase>\n\t<quote
        xsi:nil=\"true\" />\n\t<creationTime>2026-06-08T15:33:19Z</creationTime>\n\t<startTime>2026-06-08T15:33:21Z</startTime>\n\t<endTime>2026-06-08T15:33:21Z</endTime>\n\t<executionDuration>60</executionDuration>\n\t<destruction>2026-06-09T15:33:19Z</destruction>\n\t<parameters>\n\t\t<parameter
        id=\"QUERY\">SELECT TOP 3 dp_id, instrument_name FROM ivoa.ObsCore WHERE instrument_name
        = 'FORS2' ORDER BY dp_id</parameter>\n\t\t<parameter id=\"RESPONSEFORMAT\">VOTABLE</parameter>\n\t\t<parameter
        id=\"LANG\">ADQL</parameter>\n\t\t<parameter id=\"MAXREC\">10</parameter>\n\t</parameters>\n\t<results>\n\t\t<result
        id=\"result\" xlink:type=\"simple\" xlink:href=\"https://archive.eso.org/tap_obs/async/28564bed-cfa0-429f-b62b-bb63ed069ab3/results/result\"
        mime-type=\"application/x-votable+xml\" size=\"1392\" />\n\t</results>\n</job>"
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    status:
      code: 200
      message: ''
[...]
